* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/cenario1.jfif);
    background-position: 40% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Stick no Bills', 'sans-serif';
    text-shadow: 3px 3px 2px black;
}

.fight-area {
    display: flex;
    gap: 20px;
    margin: 4px 0.7rem;

}

#personagem1,
#personagem2 {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #616161;
    border-radius: 5px;
    background-color: red;
}

.lifebar .bar {
    height: inherit;
    background-color: green;
    border-radius: 5px;
}

.lifebar .name {
    font-size: 1.50rem;
    font-family: 'Stick No Bills', 'sans-serif';
    text-shadow: 1px 1px 2px black;
    color:rgb(241, 241, 241);
}

.card-area {
    margin-top: 1.90rem;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.205);
    border: 1px solid rgb(253, 253, 253);
}

.card-area .card1 {
    height: inherit;
    width: inherit;
    background-image: url(img/pikachu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37.48rem;
}

.card-area .card2 {
    height: inherit;
    width: inherit;
    background-image: url(img/cavalinho.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37.50rem;
}

.area-button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button {
    text-transform: uppercase;
    background-color: rgb(71, 167, 231);
    padding: 1.15rem 1.30rem;
    display: block;
    font-size: 1.60rem;
    font-weight: bold;
    font-family: 'Stick No Bills', 'sans-serif';
    color: white;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(71, 167, 231);
}

.area-log {
    text-align: center;
}

.log {
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    font-size: 1.50rem;
    line-height: 2rem;
    font-family: 'Stick No Bills', 'sans-serif';
    border: 1px solid black;
    height: 200px;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    overflow-y: scroll;
}



