@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    min-height: 100vh;
    padding: 20px 20px 50px;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
}


.grid {
    display: grid;
    width: 70%;
    max-width: 1200px;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;

    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4; /*DEIXA A CARTA NESSA PROPORÇÃO ESCOLHIDA*/
    width: 100%;
    position: relative; /*COLOAMOS RELATIVE PARA OS FILHOS SE BASEIAREM NESSE TAMANHO DO CARD*/
    border-radius: 5px;
    transition: all 400ms ease; /*TODAS TRANSIÇÕES VÃO SER SUAVE*/
    transform-style: preserve-3d; /*DEIXA O BACKGROUND COMO SE FOSSE 3D*/
    background-color: #ccc;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute; /*COLOCAMOS ABSOLUT PRO ELEMENTO NAO VAZAR E RESPEITAR O LIMITE DO CARD*/
    background-position: center;
    background-size: cover;
    border: 2px solid #39813a;
    border-radius: 5px;
    transition: all 400ms ease;
}

.front {
    transform: rotateY(180deg); /*COMO INVERTEMOS A IMAGEM JÁ DEIXAMOS INVERTIDA PARA PARECER NORMAL*/
}

.back {
    background-image: url('../images/back.png');
    backface-visibility: hidden; /*ESCONDE A FACE DA PARTE DE TRAS DA IMAGEM*/
}

.reveal-card {
    transform: rotateY(180deg); /*QUANDO PASSAMOS O MOUSE ROTACIONA EM 180 GRAUS*/
}


.disabled-card {
    opacity: 0.5;
    filter: saturate(0);
}



@media screen and (max-width:920px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
  
    }
  }