* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(140deg,
    #48596b 50%, #232c35ce 100%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    
}

h1 {
    text-align: center;
    padding: 15px;
}

p {
    text-align: center;
    font-size: 13px;
    padding: 10px;
}

.containerArea {
    display: flex;
    justify-content: center;
    height: 90vh;
    gap: 20px;
}

.containerArea .dogArea,
.containerArea .catArea {
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.avisoDog {
    display: inline;
    position: absolute;
    left: 38%;
    top: 40%;
    color: black;
    font-size: 17px;
}

.avisoCat {
    display: inline;
    position: absolute;
    left: 38%;
    top: 40%;
    color: black;
    font-size: 17px;
}

.containerArea .dogArea .dogSlide,
.containerArea .catArea .catSlide {
    height: 80%;
    width: 100%;
    background-color: rgb(214, 214, 214);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

}

button {
    background-color: rgb(202, 129, 69);
    margin-top: 15px;
    cursor: pointer;
    padding: 10px;
    border: 0;
    color: white;
    border-radius: 5px;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}

@media (width <= 600px) {

    p {
        font-size: 10px;
        }
        
        
    .avisoDog,
    .avisoCat {
        left: 17%
    }

    .containerArea {
        gap: 10px;
    }

    .containerArea .dogArea,
    .containerArea .catArea {
        width: 46%;
        height: 60%;
    }
}



