@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.animated-element {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.zoom-in {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.zoom-in-active {
  opacity: 1;
  transform: scale(1);
}

.carrosel-cont {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  width: calc(200%);
  white-space: nowrap;
  overflow: hidden;
  animation: loop 10s linear infinite;
}

.carrosel-track {
}

.carrosel-item {
  flex: 0 0 auto;
  width: 100%; /* Ajuste conforme necessário */
  max-width: 300px; /* Largura da imagem */
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}
