header {
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;

    & .container {
        
        max-width: 1080px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;

        & .home {
            display: flex;
            gap: 15px;
            align-items: center;

            & img {
                cursor: pointer;
                width: 40px;
                height: 40px;
            }
            & h2 {
                cursor: pointer;

                & .span {
                    font-size: 30px;
                    font-family: monospace;

                }

                & span {
                    color: var(--cor-textos);
                }
            }
        }

        & nav {
            
            height: 100%;
            align-items: center;
            gap: 40px;
            display: flex;
            font-family: var(--font-principal);

            & ul {
                list-style: none;
                display: flex;
                gap: 30px;
                justify-content: flex-end;
                height: 100%;
                font-size: 1.2em;
                align-items: center;
                

                & li {
                    cursor: pointer;


                    & a {
                        position: relative;
                    }

                    & a::after {
                        content: '';
                        width: 0%;
                        background-color: rgba(127, 44, 206, 0.863);
                        height: 3px;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        transition: .4s ease-in-out;
                    }

                    & a:hover::after {
                        width: 100%;
                    }
                }

                & li:hover {
                    color:rgba(127, 44, 206, 0.863);
                }
            }

            & .checkbox {
                opacity: 0;
                position: absolute;
            }

            & .checkbox:checked + label .ball {
                transform: translateX(24px);
            }

            & label {
                display: flex
;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                border-radius: 50px;
                padding: 5px;
                height: 25px;
                width: 50px;
                position: relative;
                transform: scale(1.5);
                background-color: #ccc;

                & .sunIcon {
                    color: #6b0280;
                    width:17px;
                    stroke-width:1px ;
                }

                & .moonIcon {
                    color: #6b0280;
                    width: 15px;
            
                }

                & .ball {
                    background-color: black;
                    border-radius: 50%;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    height: 22px;
                    width: 22px;
                    transform: translateX(0px);
                    transition: transform 0.2s linear;
                }
            }
        }
    }
}