.h2Profissao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: white;
}


.ti-cursor {
  width: 37px !important;
  font-weight: bold !important;
  font-size: 75px !important;
  display: inline-block !important;
}
