.h2Profissao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 10px solid white;
    font-size: 65px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: white;
}

.cursor {
    border-right: 4px solid white; /* Cursor como uma barra vertical */
    display: inline-block;
    animation: blink 0.8s step-end infinite; /* Faz o cursor piscar */
  }
  
  /* Animação de piscar o cursor */
  @keyframes blink {
    50% {
      border-right-color: transparent; /* Deixa o cursor invisível por 50% do tempo */
    }
  }